[2017-10-27 04:58] yosriady opened #1 "React JS 2018"
## ℹ️ Details
- [ ] Date: TBD
- [ ] Venue: TBD
- [ ] Hosts: TBD

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over food and drinks_
7.20pm | Start of event - _opening segment by host_
7.30pm | Start of scheduled talks
8.40pm | Open announcements - _open segment for anyone to make announcements_
9.00pm | End of event

## 💬 Talks

- *This cou

[2018-02-02 08:42] cometta opened #2 "Open vacancy available"
The company that I work for has opening position for React, Node.js. Do email me your CV if you are interested. cheewei.toeh@ihealthlabs.com

[2018-02-21 07:51] #2 closed, assigned to nobody

[2018-04-12 06:34] dola commented on #1
Hi there! There seems to be no issue for the next meetup but if you're interested, I'd be very happy to contribute a short talk about the newest upcoming trends for core React. Please get in touch with me for more details or to find a slot.

# await Component - Async Rendering with React

## Talk description
I'd like to give an overview of upcoming features in React. Mainly about async rendering:

[2018-04-12 06:39] yosriady commented on #1
@dola That's great! We're happy to have you.

[2018-06-14 03:51] yosriady opened #3 "ReactJS July 2018"
## ℹ️ Details
- [x] Date: Thursday, 12th July
- [x] Venue: Zendesk Singapore
- [x] Hosts: @yosriady

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over food and drinks_
7.20pm | Start of event - _opening segment by host_
7.30pm | Start of scheduled talks
8.40pm | Open announcements - _open segment for anyone to make announcements_
9.00pm | E

[2018-06-14 03:52] #1 closed, assigned to yosriady

[2018-06-15 10:21] dexterleng commented on #3
**Optimizing Performance in React**

**Talk description**
A talk on how you can optimize your React application through by eliminating redundant re-renders. The methods to do so (shouldComponentUpdate, PureComponents) will be discussed.

**Presenter**
Dexter Leng

**Presenter's Bio**
Dexter is a student at Singapore Polytechnic DMIT pursuing an IT diploma. He is passionate for web development and

[2018-06-19 03:33] yosriady commented on #3
@dexterleng We'd be happy to have you - let us know when you have your slide URLs ready so we can have a look and give feedback.

[2018-06-19 14:23] thchia commented on #3
## ⚡️  An Introduction to the React Context API ⚡️

**Talk description**
A brief introduction to the React Context API. I will build and refactor a simple web "app" that demonstrates the following patterns and problems/solutions:
1. Unidirectional data flow
2. Lifting state up
3. "Prop drilling"
4. Context

**Presenter**
Thomas Chia

**Presenter's Bio**
Thomas is a front-end developer who has been

[2018-06-20 02:00] yosriady commented on #3
@thchia Sounds good! Confirming you as a speaker for ReactJS July. Let me know when you have your slide URLs ready so we can have a look and give feedback (preferably earlier than later.)

[2018-06-20 02:04] yosriady commented on #3
@thchia Could you expand your talk abstract a bit before I post the details on the meetup page?

[2018-06-20 03:49] thchia commented on #3
@yosriady sure, I edited the post. I'll get the slides out by the end of the week/end.

[2018-06-22 06:59] dexterleng commented on #3
@yosriady Alright, I'll get done by next week.

[2018-06-25 14:03] dexterleng commented on #3
I added the slides. Do give me feedback if any.

[2018-06-26 08:07] yosriady commented on #3
@dexterleng Looks good.

Some feedback:
- Some images would help catch the audience's attention.
- 'So you don't have to write S.C.U': What do you think of just spelling out `shouldComponentUpdate`?
- I'm getting lost in between slides and it's easy to lose track where you are in relation to the whole presentation. I recommend using sections / milestones like:

<img width="797" alt="screen shot 20

[2018-06-26 10:58] thchia commented on #3
@yosriady slides up for me. I'm planning to go through them quite quick and move on to the code examples for the second half.

[2018-06-26 11:30] yosriady commented on #3
@thchia Looks excellent. 👍

[2018-06-30 12:35] eddies commented on #3
## UI Development with Storybook

## Talk description
Introduction to [Storybook](https://storybook.js.org/) for React.

A speedy hands-on introduction to how Storybook has helped us speed up component development and improve testing and generally made us happier developers.

## Presenter(s)
Edwin Shin

## Presenter's bio
Eddie is a Partner at [TRA](https://tra.sg/), a data science consultancy and

[2018-07-01 03:42] yosriady commented on #3
@eddies Sounds good. Let me know when you have your slides up (preferable by one week before 5th July) so I can give you some feedback.

[2018-07-09 08:45] yosriady commented on #3
@dexterleng @thchia @eddies See you this Thursday, 12th July!

Please comment on this thread to confirm your attendance as a speaker this Thursday. Make sure you bring spare adapters that fit your machine, as an additional safeguard.

[2018-07-10 02:01] thchia commented on #3
@yosriady confirm.

[2018-07-10 09:37] eddies commented on #3
@yosriady confirm (and yes, I know I'm tardy on slides)

[2018-07-11 03:59] yosriady commented on #3
@dexterleng

[2018-07-11 07:09] dexterleng commented on #3
@yosriady confirm!

[2018-07-12 04:49] yosriady opened #4 "ReactJS September 2018"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/254234369/)
- [x] Date: Tuesday, 25th September 2018
- [x] Venue: Zendesk Singapore
- [x] Hosts: @yosriady

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over food and drinks_
7.20pm | Start of event - _opening segment by host_
7.30pm | Start of scheduled talks
8

[2018-07-14 02:16] thchia commented on #4
If we get a lot of speaker proposals I'm cool to give up this slot.

## ⚡️  React Testing - An Alternative to Shallow Rendering ⚡️

**Talk description**
An exploration of [react-testing-library](https://github.com/kentcdodds/react-testing-library) by Kent C. Dodds, which takes an alternative approach to the prolific "shallow-rendering" method in libraries like Enzyme.

* Introduction
* Shallow Ren

[2018-08-23 11:33] #3 closed, assigned to yosriady

[2018-08-30 09:34] yosriady commented on #4
@thchia Sounds good, we're currently looking at Tuesday, 25th September @ Zendesk.

[2018-09-13 18:24] khuong291 commented on #4
I'm too late here, but I really want to join as a speaker. @yosriady
### 🐎 **Rapid React Development with Mock APIs** 🐎

**Talk description**
An explanation of why using mock api and how to do it.

- Introduction
- Reasons of using.
- How to use it.

**Presenter**
Khuong

**Presenter's Bio**
Khuong is an iOS developer and also a React developer. He loves React and Swift. He enjoys doing Open Sourc

[2018-09-14 01:36] yosriady commented on #4
@khuong291 Sounds good, please share your slides early to get some feedback.

[2018-09-14 02:43] khuong291 commented on #4
@yosriady  Ok, I will give it to you soon.

[2018-09-15 18:42] khuong291 commented on #4
Hi @yosriady, I've updated the slide, please help me to review it, thanks. I will demo for about 5-10 minutes. Btw, I just need to bring my passport to pass the security guard, right? Because I'm from Vietnam 🤔

[2018-09-17 04:41] yosriady commented on #4
@khuong291 Looks good! Yes, your passport is sufficient.

[2018-11-01 09:10] maxlibin opened #5 "January React meetup"
Title of your talk
**Intro to ReasonML**
**Intro to ReasonReact**

Tell us what you'd like to talk about
**Introduction to ReasonML**
**Introduction to ReasonReact**

Presenter(s)
**Introduction to ReasonML(by Bryan)**
**Introduction to ReasonReact(by Max)**

@yosriady

[2018-11-01 13:30] #4 closed, assigned to yosriady

[2018-11-02 05:28] yosriady commented on #5
Hi @maxlibin, we won't be having any meetups for the rest of the year as I'm fully occupied with work and other commitments. 😃

I'll register your interest to give a talk and let you know when we organize one in January. 👍

[2018-11-02 06:11] maxlibin commented on #5
Sure, unless someone else would like to co-organize? Especially now hook is such a big topic in react, maybe someone can share their experience in using it or tried it?

[2018-11-03 10:17] thchia commented on #5
I can do a talk on hooks, but I also think there’s no rush (they are technically still in alpha), so maybe January is better overall.

[2018-11-05 16:50] yosriady commented on #5
Let's do it in the first or second week ofJanuary since people are likely away in December.

[2018-11-15 03:16] yosriady commented on #5
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/256426835/)
- [x] Date: Thursday, 10th January 2019
- [x] Venue: TenX
- [x] Hosts: @yosriady

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over food and drinks_
7.20pm | Start of event - _opening segment by host_
7.30pm | Start of scheduled talks
8.40pm | Open a

[2018-11-15 03:18] yosriady commented on #5
@maxlibin @thchia What do you guys think of Thursday, 10th January? Would you be interested to give a talk at this date?

[2018-11-15 07:59] thchia commented on #5
@yosriady tentatively OK but will have to re-confirm nearer the date...

[2018-11-15 08:13] thchia commented on #5
## Hooked on React
### Talk Description
An Introduction to the Hooks API in React.
* Why Hooks?
* Migrating to Hooks: State and 'Effects'
* Other Use Cases: Context and Reducers 👀
* 🔥 **BONUS**: Testing Hooks 🔥
### Presenter
Thomas Chia
:octocat: [github.com/thchia](github.com/thchia)
🐦 [@th__chia](twitter.com/th__chia)
### Presenter's Bio
Front End Developer, Lover of JavaScript, React, Serverles

[2018-11-15 10:13] yosriady commented on #5
@maxlibin Let me know if the date is convenient for you, and please follow the format above for your talk proposals. 😄

[2018-11-15 16:03] liaujianjie commented on #5
## Client-side data architecture with Apollo Client

### Talk description (tentative scope)

* Brief GraphQL overview
* Why Apollo Client?
* Use cases & comparisons with common patterns
  * Caching responses from asynchronous API requests
  * Apollo links & some use cases
    * Auth routing guards
    * Retrying and deduping
* Using Apollo Client without a GraphQL endpoint (and incremental adoptio

[2018-11-20 08:43] yosriady commented on #5
Hi @liaujianjie, sounds good! Looking forward to see you at the event!

[2018-11-20 08:45] yosriady commented on #5
Hi @maxlibin Can you confirm your attendance at the event? I'd like to know if you'll be speaking in January.

[2018-11-20 09:01] maxlibin commented on #5
waiting for Bryan to add this content in, here is mine first.

### Intro to ReactReact
#### Talk description (tentative scope)
Brief ReasonReact overview
Why Reason React, why life will be easier with ReasonReact?
How to get started with reasonReact.
@maxlibin

Presenter's bio
👨‍🎓 Frontend dev @Ahrefs

Duration requested
🕐 20min - 30min (max)

[2018-12-03 00:17] pulkitkkr commented on #5
Hey,
I'm Pulkit, a React Evangelist and AR/VR enthusiast. It has been quite a while since I'm working with ReactJS and related Technologies. The world is shifting to another way of User Interfaces, AR & VR yet many React Developers are unaware how easy is it for them to adopt to the paradigm shift, I'm willing to contribute to the community and enlighten up the Audience about the same, would love

[2018-12-03 04:01] yosriady commented on #5
Hi @pulkitkkr, we're all full for the January meetup - would you be available to present on a future meetup? (tentatively mid-February or early March)

[2018-12-03 08:23] pulkitkkr commented on #5
@yosriady I'm ok with early Feb dates (1st to 12th) also will be needing travel and accommodation allowance

[2018-12-04 06:10] yosriady commented on #5
@pulkitkkr We don't give travel and accommodation allowance. Speaking slots are on a strictly free (as in beer) basis.

[2018-12-05 02:51] swyxio opened #6 "React Ramen SG Tonight?"
I've been organizing micro meetups in every place i go and im in town so I figured to try this here!

🍜⚛️React Ramen SG 🇸🇬

Impromptu meetup!

If you’re in Singapore and up for dinner tonight (Wednesday) let’s eat Ramen and talk React!

7pm Ramen Keisuke at Bugis!
https://goo.gl/maps/58YQpLzv8Hq

reply to come by or just show up 🤗

[2018-12-05 07:12] liaujianjie commented on #6
Would love to go but I already have plans for the night 😞

[2018-12-05 07:32] swyxio commented on #6
Chris Lienert is having farewell drinks this friday as well https://gitter.im/SingaporeJS/discussions

[2018-12-06 09:41] #6 closed, assigned to nobody

[2019-01-02 02:36] yosriady commented on #5
@maxlibin @thchia @liaujianjie

Happy new year!
Looking forward to see you next Thursday (10th January) and to listen to what you have to share. 😃
Please comment so I can confirm your attendance for the meetup.

[2019-01-02 04:34] maxlibin commented on #5
@yosriady 👍

[2019-01-02 10:16] liaujianjie commented on #5
@yosriady I'll be there, happy new year everyone! 😄

[2019-01-03 03:49] yosriady opened #7 "March 2019 meetup"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/258028893/)
- [x] Date: Thursday, 14th March 7PM
- [x] Venue: Royal Palm, Clarke Quay Central # 04-86/87
- [x] Hosts: @yosriady

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over food and drinks_
7.20pm | Start of event - _opening segment by host_
7.30pm | Start

[2019-01-05 01:01] thchia commented on #5
👌

[2019-01-10 02:57] yosriady commented on #5
@maxlibin @thchia @liaujianjie

Hi folks! Looking forward to seeing you at our first React meetup of 2019. Due to overwhelming response, the event location has moved to a larger venue:

Huone Events Hotel Singapore
3D River Valley Road #03-01,
Singapore 179023(above Hai Di Lao Clarke Quay)

---

**How to get there**

[Directions Map](https://drive.google.com/open?id=1MaRuYHPBg0bDLQWAuYcIhZrTt4bNN0

[2019-01-10 10:55] liaujianjie commented on #5
Hey @yosriady I'm gonna run a bit late, will be there around 7:30-ish

[2019-01-10 11:03] yosriady commented on #5
@yosriady Sure no problem, come and find me later to set up your laptop.

[2019-01-10 11:25] yosriady commented on #5
![20190110_182729](https://user-images.githubusercontent.com/1084226/50965583-55d08d80-150d-11e9-9b0b-5f2c48dd6cd3.jpg)

@liaujianjie Come and find me to set up your laptop. You can also follow the instructions above once you're in the room. (But don't start presenting yet.) I'll be sitting closest to the speaker.

[2019-01-10 14:15] yosriady commented on #5
@maxlibin @thchia @liaujianjie

Great talks everybody!  🎉 🥇  💯
Feel free to share links to your slides by commenting on [the Meetup page](https://www.meetup.com/React-Singapore/events/256426835/).
Thank you for sharing!

[2019-01-10 14:15] #5 closed, assigned to yosriady

[2019-01-23 14:47] thchia commented on #7
Placeholder (I’ll elaborate on this closer the date if there are still spaces)

## Gatsby: Back to the Future! ⚡️

tbc

**Duration requested**
20min

[2019-01-29 09:07] lisaMartini opened #8 "February 2019 React Meetup - week 18/02-22/02"
Title of your talk

 **Interfacing an OLAP cube with a react chatbot**

Talk description
 **Describing the chatbot implementation and how it interacts with the ActivePivot OLAP cube**.

Tell us what you'd like to talk about:
- Brief introduction of OLAP cube and MDX query language
- How to implement a chatbot based on react-simple-chatbot component
- How to use Wit.ai as a Natural Language Process

[2019-01-30 06:34] clark-pan commented on #7
# Taming Redux with Saga
## Talk description
Thunks are out and Sagas are in! See how using redux-sagas can help you corral your unruly actions.

## Presenter
[@clark-pan on Github](https://github.com/clark-pan). [@clarkpan on Twitter](https://twitter.com/clarkpan).

## Presenter's bio
Frontend developer masquerading as a full stack developer. I like baking, gaming and generally being relaxed. Cur

[2019-01-30 06:35] clark-pan commented on #7
Would love to hear the gatsby talk. We just rebuilt our website on gatsby. Very good performance.

[2019-01-30 13:17] grimbees commented on #7
## Handling form with async-validator in Ant.Design

**Description**
How to conquer form data, validation and request with async-validator

**Presenter(s)**
[David Saputra](https://github.com/grimbees)

**Presenter Bio's**
Senior software engineer at [CCRManager](https://ccrmanager.com)

**Duration requested**
20 min

**Slide URL**
Coming soon

[2019-01-31 10:09] yosriady commented on #8
Hi @lisaMartini, thank you for your proposal. Unfortunately, we will be not able to host a meetup in February. Thanks!

[2019-01-31 10:09] #8 closed, assigned to nobody

[2019-01-31 10:11] yosriady commented on #7
Hi @thchia and @clark-pan, we're looking forward to have you speak in the upcoming React meetup!

[2019-01-31 10:11] yosriady commented on #7
@grimbees Could you elaborate more on the contents of your talk? Thanks!

[2019-01-31 10:18] lisaMartini commented on #8
Ok , so we can do it in April, do you have any date in mind ? Do you want me to open a new issue for April ? thanks

[2019-02-01 02:43] grimbees commented on #7
@yosriday, I would like to share my experience with ant.design, how to deals with form information from frontend to the backend, testing, and posibility to achive this without ant.design

[2019-02-02 12:41] thorsten-stripe commented on #7
I'll be in town, visiting from Amsterdam. I do realise that @thchia is already giving a GatsbyJS talk, so it might be too much, or we just might make it a theme ;)

# (Ec)Static Commerce
Hands-on: building an e-commerce site with Gatsby, Netlify, and Stripe.

## Presenter(s)
@thorsten-stripe | https://twitter.com/thorwebdev

## Presenter's bio
Thorsten Schaeff (@thorwebdev) is a Customer Engineer

[2019-02-02 13:21] thchia commented on #7
@thorsten-stripe looking forward to seeing you in Singapore!

Perhaps we can co-ordinate a bit on this. I was actually trying to decide how detailed I should go. Based on your post, perhaps I can tailor my talk to cover mostly the basics of Gatsby (e.g. the GraphQL data layer, `gatsby-node` sort of areas). Then you can give yours as a more practical use case, and also exploring the wider ecosystem

[2019-02-03 02:09] yosriady commented on #7
@thorsten-stripe Looking forward to your talk at the meetup!
@thchia Feel free to coordinate with @thorsten-stripe on how you want to tailor your talks around Gatsby.

[2019-02-03 02:13] yosriady commented on #7
@grimbees Sounds good.

[2019-02-03 02:17] yosriady commented on #7
@grimbees Sounds good. I think it would be useful if you can briefly explain the basics of form validation as well, beyond Ant.design.

[2019-02-03 02:19] yosriady opened #9 "May 2019 Meetup (Closed for Speakers)"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/259917189/)
- [x] Date: Wednesday, 22nd May 2019
- [x] Venue: Zendesk Singapore
- [x] Hosts: @yosriady

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over food and drinks_
7.20pm | Start of event - _opening segment by host_
7.30pm | Start of scheduled talks
8.40p

[2019-02-03 03:21] grimbees commented on #7
@yosriady Yes, I will have brief explanation of basics and example on how to achieve it beyond Ant.design.

[2019-02-07 07:17] lisaMartini commented on #9
Title of your talk

**Interfacing an OLAP cube with a react chatbot**

Talk description
**Describing the chatbot implementation and how it interacts with the ActivePivot OLAP cube**.

Tell us what you'd like to talk about:

* Brief introduction of OLAP cube and MDX query language
* How to implement a chatbot based on react-simple-chatbot component
* How to use Wit.ai as a Natural Language Processi

[2019-02-16 09:49] yosriady commented on #9
@lisaMartini

Thank you for sending a proposal! I think chatbots would be of interest to the community, but I think OLAP wouldn't be of interest to most developers in the community. I would recommend keeping the talk strictly around React by focusing more on the chatbot aspects, and cutting on the OLAP / MDX / ActivePivot.

What do you think?

[2019-02-18 01:23] nidabouzid commented on #9
Hi @yosriady
The chatbot has been implemented to simplify the interaction with an OLAP database, if we do not introduce the OLAP part we remove the context of what we want to show ... If you still don't want us to mention  LAP / MDX / ActivePivot consider us out.

[2019-02-18 10:05] yosriady commented on #9
Hi @nidabouzid

In that case, I'll decline this proposal. Thanks for sending it in!

[2019-03-01 17:56] lzhuor commented on #9
## Functional JavaScript with Ramda.js
**Description**
How Ramda.js enables our front-end team to write practical, elegant, readable and maintainable functional JavaScript?
- Everyone in the team becomes happier because writing FP is fun!
- We don't have `lodash` in our dependencies.

This presentation will cover:
- Basic FP theories to understand Ramda.js
- Why it could be a good replacement for

[2019-03-02 03:58] yosriady commented on #9
@lzhuor Thank you for sending in your proposal. I'm looking forward to see you share at the May meetup!

[2019-03-06 15:36] haldarmahesh commented on #9
# A deep dive in React's New Component Lifecycle Methods
#### Description

A short introduction about the importance of lifecycle methods and how React dev can write better React app if we know the right lifecycle method and its right use case.

This talk covers all the component lifecycle method after major updates in 16.4.
Then deep dive into all the React component lifecycle methods with use ca

[2019-03-06 16:02] yosriady commented on #9
@haldarmahesh Looking forward to have you share at the May meetup! I'll update this thread once the date and venue is finalized.

[2019-03-08 12:51] yosriady commented on #7
@thchia @clark-pan @thorsten-stripe @grimbees

Looking forward to see you at the React meetup next Thursday, 14th March! Please confirm your attendance by replying to this comment. 😃

[2019-03-08 13:23] thchia commented on #7
I’ll be there

[2019-03-08 13:44] clark-pan commented on #7
👍

[2019-03-08 14:05] thorsten-stripe commented on #7
Yes, looking forward to it :)

[2019-03-08 17:16] grimbees commented on #7
Yes, see you!

[2019-03-11 12:27] clark-pan commented on #7
@yosriady Hey sorry for the short notice. I think I caught something over the weekend and not feeling too well.

Could you reschedule me for the May meetup instead?

Sorry :(

[2019-03-11 12:33] yosriady commented on #7
@clark-pan Sure thing. Feel free to create a new issue for May whenever you're ready. Take care!

[2019-03-14 12:20] #7 closed, assigned to yosriady

[2019-03-20 02:38] yosriady commented on #9
@lzhuor @haldarmahesh

We've confirmed the date and venue of the May meetup to be **Wednesday, 22nd May 2019**
at **Zendesk Singapore**.

[2019-03-20 06:51] huangkaiw3n commented on #9
React Native x Parking.sg
====================
#### Description
* Brief intro on RN
* Pros and cons encountered using RN in building [Parking.sg](https://parking.sg)
* The power of hot code push in RN
* Writing your own native modules in RN
* Q&A

#### Presenter(s)
[Huang Kaiwen](https://github.com/huangkaiw3n)

#### Presenter Bio's
Software Engineer at [Open Government Products (OGP)](https://ope

[2019-03-20 09:52] r0lodex commented on #9
# React-Boilerplate: Helping you and your team code better!

**Description**
React Boilerplate is a highly scalable, offline-first foundation with the best developer experience and a focus on performance and best practices. I think everyone should contribute to the code, it's open-source and super robust.

- Brief introduction on [React-Boilerplate](https://github.com/react-boilerplate/react-boile

[2019-03-20 10:13] yosriady opened #10 "July 2019 Meetup (Closed for Speakers)"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/260564102/?isFirstPublish=true)
- [x] Date: Thursday, 25th July 2019
- [x] Venue: Stripe Singapore
- [x] Hosts: @yosriady

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over food and drinks_
7.20pm | Start of event - _opening segment by host_
7.30pm | Start of sc

[2019-03-25 06:37] li-kai commented on #9
## Hooks!
**Talk description**

React hooks are a brand new pattern, but how are they different from class components? In this talk, we'll take a deep dive into react hooks, its internals, and ways to easily test and build custom hooks.

**Presenter(s)**
@li-kai

**Presenter's bio**

Kai is a software engineer at [Zendesk](https://zendesk.com) - a customer service software and support ticketing sy

[2019-03-25 13:20] yosriady commented on #9
@r0lodex Hi, we're all full for speakers in the May meetup, would you be interested in speaking at the [July meetup](https://github.com/ReactJSSG/meetups/issues/10) instead?

[2019-03-25 13:21] yosriady commented on #9
@huangkaiw3n @li-kai Looking forward to see you at the May meetup!

[2019-04-22 11:22] rodrigobdz commented on #10
## ReactJS for slow internet connections

**Talk description**

There have been many articles recently about the importance of web performance [[1]](https://developers.google.com/web/fundamentals/performance/why-performance-matters/)[[2]](https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/) but still most of the applications focus more on offering a ton of fea

[2019-04-26 11:27] yosriady commented on #10
@rodrigobdz Thank you for sending in your talk! I'm looking forward to have you speak at the July meetup :+1:

[2019-04-26 11:30] yosriady opened #11 "June 2019 Meetup (Closed for Speakers)"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/261345306)
- [x] Date: 20 June 2019
- [x] Venue: Shopee Singapore
- [x] Hosts: @yosriady

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over food and drinks_
7.20pm | Start of event - _opening segment by host_
7.30pm | Start of scheduled talks
8.40pm | Open annou

[2019-04-27 04:36] nickthepayne commented on #11
### Test Driven Development with React

Do you currently follow TDD in your project, or do you still think it "takes too much time"? It's fair to say that TDD has become an accepted practice for professional software development on the backend, but what about the frontend? In this talk I want to demonstrate
- Why you should be doing TDD
- How TDD can help you actually be _faster_, not _slower_
- W

[2019-04-28 12:53] yosriady commented on #11
@enpayne 30 mins sounds good! Looking forward to have you speak at the June meetup.

[2019-05-15 09:58] wgao19 commented on #11
Hi @yosriady I am proposing on behalf of Shopee. I hope this'll be an interesting topic to our local React community as well :]

Making Flow Happy after 0.85
---
In 0.85, Flow released a major fix in their type check cycle that caused many new errors, mainly around type inferences that span over an import-export cycle. Consequently, a lot of annotations on components that are wrapped around by hig

[2019-05-21 14:35] yosriady commented on #9
@li-kai @lzhuor @haldarmahesh @huangkaiw3n Looking forward to hear you share [tomorrow](https://www.meetup.com/React-Singapore/events/259917189/)! 👏

[2019-05-21 14:38] huangkaiw3n commented on #9
Yeah I'll be there. See you!

[2019-05-21 15:08] haldarmahesh commented on #9
Hey, yes I will be there.
See ya :)

[2019-05-21 18:18] lzhuor commented on #9
See you there! Thank you! @yosriady

[2019-05-24 02:51] #9 closed, assigned to yosriady

[2019-05-24 03:10] r0lodex commented on #11
# React-Boilerplate: Helping you and your team code better!

**Description**
React Boilerplate is a highly scalable, offline-first foundation with the best developer experience and a focus on performance and best practices. I think everyone should contribute to the code, it's open-source and super robust.

- Brief introduction on [React-Boilerplate](https://github.com/react-boilerplate/react-boile

[2019-05-25 02:43] yosriady commented on #9
@li-kai @lzhuor @haldarmahesh @huangkaiw3n

Hi folks, if you don't mind could you share your slides on the meetup page: https://www.meetup.com/React-Singapore/events/259917189/

Thanks.

[2019-05-27 02:16] yosriady commented on #11
@wgao19 Great! See you there!

[2019-05-27 02:17] yosriady commented on #11
@rolodex Sounds interesting - see you in June!

[2019-05-27 08:54] huangkaiw3n commented on #9
@yosriady Not sure how to add my slides there. But here's the link [https://go.gov.sg/rnxparking](https://go.gov.sg/rnxparking)

[2019-05-27 13:50] yosriady commented on #9
You can leave a comment on the meetup comments section here: https://www.meetup.com/React-Singapore/events/259917189/ with the slide URL

[2019-05-30 00:00] thchia commented on #11
Putting in a placeholder although feel free to cap this at 3 talks if you feel it’s appropriate.

# Function Components: All About the Render

15 mins

[2019-05-30 13:54] tanhauhau commented on #10
# React Hooks Visualized

## Talk description

Inspired by [Philip Roberts's JSConf EU's talk](https://www.youtube.com/watch?v=8aGhZQkoFbQ), I build a [react hook visualiser](https://lihautan.com/react-hooks-visualiser/)!
Following the [Hooks! talk](https://github.com/ReactJSSG/meetups/issues/9#issuecomment-476072696), I will be speaking in depth of what actually happens under the hood when you ca

[2019-05-30 13:58] yosriady commented on #11
@thchia Yes, we're all full for June.

[2019-05-30 14:04] yosriady commented on #10
@tanhauhau See you in July! 👏

[2019-06-14 13:59] swyxio commented on #11
im not in singapore any other time,,, can i squeeze in this talk!

Title of your talk: Getting Closure on Hooks
Talk description: The design of React Hooks requires a good understanding of closures in JavaScript. In this talk, we’ll reintroduce closures by building a tiny clone of React! This will serve two purposes – to demonstrate the effective use of closures, and to show how you can build a Ho

[2019-06-14 14:57] wgao19 commented on #11
Hey @yosriady would like to let you know that I'm willing to help coordinate with our HR in case we need to extend this event. This talk is so great I don't want us to miss it.

[2019-06-14 15:18] yosriady commented on #11
@sw-yx Sure thing, see you at ReactJS June!

@wgao19

[2019-06-16 23:37] nickthepayne commented on #11
&yosriady @wgao19

I'd be willing to do my talk in July instead if that helps?

[2019-06-17 02:02] ais-one commented on #10
Moved to August...

https://github.com/ReactJSSG/meetups/issues/12#issuecomment-502529958

[2019-06-17 02:06] wgao19 commented on #11
Hey @enpayne yes it will be helpful for my side! Although I think @yosriady should make the call. And I believe we'll also need to copy over your proposal to July, which makes it full at 3 talks as well :)

Thanks so much for offering to swap over to July!

[2019-06-17 02:45] yishus commented on #10
## Suspense, `react-cache` and thoughts on data fetching

**Talk description**

Redux has become the de facto library for data fetching but most of us haven't gotten down to think about the why. This talk dives into design patterns and thoughts on designing the data layer for React apps and how the upcoming suspense model will change how you approach data fetching.

**Presenter**

Yishu See
GitHub

[2019-06-17 02:58] yosriady commented on #11
@enpayne In that case, I will shift your talk to the July meetup. :+1:

@wgao19

[2019-06-17 03:00] yosriady opened #12 "ReactJS August 2019 (Closed for Speakers)"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/262377316/)
- [x] Date: 20 August 2019
- [x] Venue: Zendesk
- [x] Hosts: @yosriady

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over food and drinks_
7.20pm | Start of event - _opening segment by host_
7.30pm | Start of scheduled talks
8.40pm | Open announcemen

[2019-06-17 03:01] yosriady commented on #10
@ais-one @yishus We're all full at 3 speakers for the July meetup, do you mind going for the August meetup instead? You can submit here: https://github.com/ReactJSSG/meetups/issues/12

[2019-06-17 03:10] yishus commented on #12
## Suspense, `react-cache` and thoughts on data fetching

**Talk description**

Redux has become the de facto library for data fetching but most of us haven't gotten down to think about the why. This talk dives into design patterns and thoughts on designing the data layer for React apps and how the upcoming suspense model will change how you approach data fetching.

**Presenter**

Yishu See
GitHub

[2019-06-17 03:10] nickthepayne commented on #10
@yosriady is the venue set in stone? We would be happy to host a meetup and since I will be speaking in July I could to talk to management about it (Spaces, Robinson Rd)

[2019-06-17 04:04] yosriady commented on #10
@enpayne Yes, it's set. We have Stripe as our venue sponsor for the July meetup. Alternatively, you can also present in August.

[2019-06-17 04:05] yosriady commented on #12
@yishus Looking forward to see you in ReactJS August! 😄

[2019-06-17 04:25] ais-one commented on #12
## CRUD with Ant Design for React

**Talk description**

I will present one way of building CRUD for admin dashboards using ReactJS and Ant Design UI, where instead of repeatedly creating boilerplate code for each table and form you create. We scope the requirements and build in such a way to eliminate or reduce boilerplate and improve developer joy and productivity...

**Presenter**

Aaron Gong
G

[2019-06-17 05:49] yosriady commented on #12
@ais-one See you in August!

[2019-06-19 12:38] aravindet commented on #12
Graffy: Live queries with CRDTs and Set Theory
----

#### Talk desccription

[Graffy](https://github.com/usegraffy/graffy) is an open-source library comparable to GraphQL and Firebase, with a focus on providing live queries at scale. My talk introduces the library with a quick demo, compares it to alternatives and discusses how it applies CRDTs (Conflict-free Replicated Data Types) and Set Theory

[2019-06-20 13:28] yosriady commented on #11
@wgao19 @r0lodex @sw-yx Congrats on delivering a successful talk! Do you mind sharing your slide links and other information to the attendees on the meetup page? https://www.meetup.com/React-Singapore/events/261345306

Thanks!

[2019-06-20 13:28] #11 closed, assigned to yosriady

[2019-06-20 14:16] wgao19 commented on #11
Thank you for hosting!

My slides are here:
https://flow-be-happy.netlify.com/

[2019-06-20 15:31] swyxio commented on #11
thank you @enpayne  for letting me have your spot! did my best 🤗

https://www.swyx.io/talks/react-hooks

[2019-06-21 01:38] r0lodex commented on #11
Awesome demo, golden advice!

[2019-07-01 14:59] email2vimalraj commented on #12
# Build CLI Tools using React

### Talk Description

During this time, I'll live code and show how we can leverage React to build the awesome interactive command line tools using [Ink](https://github.com/vadimdemedes/ink) library. Most of our time during development are spent on the terminals / command prompts and we should use the tool more effectively by making it more productive for our day to

[2019-07-02 09:46] yosriady commented on #12
@aravindet @email2vimalraj See you both in August!

Tentatively, the meetup will be on the 3rd week of August.

[2019-07-02 09:47] yosriady opened #13 "ReactJS September 2019 (Open for Speakers)"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/263699433/)
- [x] Date: September 2019
- [x] Venue: TBD
- [x] Hosts: @yosriady

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over food and drinks_
7.20pm | Start of event - _opening segment by host_
7.30pm | Start of scheduled talks
8.40pm | Open announcements -

[2019-07-02 09:50] yosriady commented on #12
@email2vimalraj Err really sorry, but turns out we already have 3 speakers for August. Do you mind sending your talk to September instead? https://github.com/ReactJSSG/meetups/issues/13

[2019-07-02 10:24] email2vimalraj commented on #12
Sure will do. Thanks!

On Tue, 2 Jul 2019 at 5:50 PM, Yos Riady <notifications@github.com> wrote:

--
Thanks,
Vimalraj

[2019-07-02 10:25] email2vimalraj commented on #13
# Build CLI Tools using React

### Talk Description

During this time, I'll live code and show how we can leverage React to build the awesome interactive command line tools using [Ink](https://github.com/vadimdemedes/ink) library. Most of our time during development are spent on the terminals / command prompts and we should use the tool more effectively by making it more productive for our day to

[2019-07-08 04:12] nickthepayne commented on #10
@yosriady I sent you an email regarding the August meetup location last week, did you see that? Or how can I get in touch with you?

[2019-07-08 04:17] yosriady commented on #10
@enpayne Sorry, I missed your email. I've sent you a reply.

[2019-07-08 07:04] jfrolich commented on #10
@yosriady: Still open for a lightning talk in July?

[2019-07-09 06:30] yosriady commented on #10
@jfrolich Yes, I think we can squeeze in one more (5 mins.)

[2019-07-09 15:02] tanhauhau commented on #10
@yosriady Sorry, I am a bit overwhelming recently, i don't think i can give a talk for the July meetup, i wish to give up my slot.

[2019-07-10 07:15] yosriady commented on #10
@tanhauhau Got it, thanks for the update.

[2019-07-10 07:18] yosriady commented on #12
@ais-one @yishus We've had a speaker cancel their slot for July, would either of you be interested to present on the 25th July meetup?

[2019-07-10 07:47] ais-one commented on #12
I can let you know by end of this week... But if anyway can cover, then pls
let him go first!

On Wed, Jul 10, 2019, 15:18 Yos Riady <notifications@github.com> wrote:

[2019-07-10 12:28] jfrolich commented on #10
## Best practices for building a high quality React-Native app

**Talk description**
During this lightning talk I will share some of the learnings and gotchas on how to create a high quality mobile experience that is indistinguishable from a "real" native app on iOS and Android. This is mostly from my experience in building the recently launched Family Five (https://familyfive.app), a parenting ap

[2019-07-10 17:06] yishus commented on #12
@yosriady yup sure would love to take over

[2019-07-11 04:54] yosriady commented on #12
@yosriady Great! See you at the July meetup!

[2019-07-11 04:57] yosriady commented on #12
@email2vimalraj A slot just opened up in August, would you like to speak at the August meetup?

[2019-07-11 05:56] email2vimalraj commented on #12
Sure I can

[2019-07-11 06:19] yosriady commented on #12
@email2vimalraj Great! See you in August.

[2019-07-23 12:30] jfrolich commented on #10
I didn't hear anything. Is my lightning talk still happening, or do I need to submit it for another meetup?

[2019-07-25 02:00] yosriady commented on #10
@jfrolich Yes, you're in. Sorry, I thought https://github.com/ReactJSSG/meetups/issues/10#issuecomment-509508105 already confirmed it.

[2019-07-25 09:20] yosriady commented on #10
@rodrigobdz @yishus @enpayne @jfrolich Looking forward to your talks later! Please reply to this comment to confirm your attendance.

[2019-07-25 09:21] rodrigobdz commented on #10
See you later!

[2019-07-25 12:35] #10 closed, assigned to yosriady

[2019-07-26 03:02] jfrolich commented on #10
Added my slides

[2019-08-03 13:10] yosriady opened #14 "ReactJS October 2019 (Open for Speakers)"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/263699433/)
- [x] Date: October 2019
- [x] Venue: TBD
- [x] Hosts: @yosriady

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over food and drinks_
7.20pm | Start of event - _opening segment by host_
7.30pm | Start of scheduled talks
8.40pm | Open announcements - _

[2019-08-03 13:11] yosriady opened #15 "ReactJS November 2019 (Closed for Speakers)"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/263699433/)
- [x] Date: Thursday, 21st November 2019
- [x] Venue: TenX
- [x] Hosts: @yosriady

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over food and drinks_
7.20pm | Start of event - _opening segment by host_
7.30pm | Start of scheduled talks
8.40pm | Open

[2019-08-06 16:20] yosriady commented on #12
@aravindet @ais-one @email2vimalraj The meetup date has been confirmed to be Tuesday, 20th August - can I confirm that you will be speaking at the August meetup?

[2019-08-06 16:33] email2vimalraj commented on #12
Yes

[2019-08-07 04:07] aravindet commented on #12
Yes

[2019-08-07 07:48] ais-one commented on #12
Hi,

I confirm, See you on 20th August.

*Warmest Regards,*

*Aaron*

The information herein is given on a general basis without obligation and
is strictly for information purposes only. We do not warrant the accuracy
or completeness of the information, graphics, links, or other items
contained herein, and expressly disclaim liability for errors or omissions
in these materials.

On Wed, Aug 7, 201

[2019-08-20 11:39] #13 closed, assigned to yosriady

[2019-08-20 11:39] #12 closed, assigned to yosriady

[2019-08-21 02:18] email2vimalraj commented on #12
My talk slide: https://github.com/email2vimalraj/tado/blob/master/build-cli-with-react-reactjs-meetup-presentation-20aug.key
Demo github repo: https://github.com/email2vimalraj/tado

[2019-08-30 07:32] lzhuor commented on #14
## Scalable and maintainable React Web App
**Talk description**
We are a fast growing digital wealth management platform. We believe there are numerous ways of architecting your React web app to deliver on-time and meanwhile keep the project maintainable. It depends on your product, team and culture.

I would like to present a way that works for us (so far 😆) so it will be a more opinionated sessi

[2019-09-03 03:22] yosriady commented on #14
Hi @lzhuor, we're planning to skip the October meetup and go straight to November. Please submit your talks here instead: https://github.com/ReactJSSG/meetups/issues/15

[2019-09-03 03:22] #14 closed, assigned to nobody

[2019-09-03 07:05] lzhuor commented on #15
## Scalable and maintainable React Web App
**Talk description**
We are a fast growing digital wealth management platform. We believe there are numerous ways of architecting your React web app to deliver on-time and meanwhile keep the project maintainable. It depends on your product, team and culture.

I would like to present a way that works for us (so far 😆) so it will be a more opinionated sessi

[2019-09-04 09:39] yosriady commented on #15
@lzhuor See you in November! Tentatively, we're looking at either the 3rd or 4th week of November.

[2019-09-09 07:24] yosriady commented on #15
Venue and date confirmed: Thursday, 21st November at TenX offices in ABI Plaza.

[2019-09-12 02:34] taavikybar commented on #15
## React Craft: Clean Code Principles in React Applications

**Talk description**
What is Clean Code? Why is it important? How important it is?

Software is all around us, we live in software. As developers, we must be responsible for the software we write not only to our users but also to each other. In our daily work, we spend 90% of our time reading code. Writing bad code that is hard to unders

[2019-09-13 02:41] yosriady commented on #15
@taavikybar Great! See you in November!

[2019-09-16 03:25] TikiCat7 commented on #15
## 60FPS Animations in React Native

**Talk description**
In this talk I would like to discuss the performance issues with traditional approaches to animations in react native, as well as how to improve on them using a library called `react-native-reanimated`. I will go over:

- the problems of the `Animated` API
- how to use the library
- benefits of the library
- animating with gestures
- some e

[2019-09-16 03:38] yosriady commented on #15
@WataruKay Great! See you in November!

[2019-11-07 12:52] yosriady commented on #15
@lzhuor @taavikybar @WataruKay Can I confirm your attendance as a speaker on the 21st November? Please reply to this comment to confirm. 😃

[2019-11-07 13:11] yosriady opened #16 "January 2020 (Open For Speakers)"
## ℹ️ Details
- [ ] [Meetup page]()
- [ ] Date: Thursday, 16th January 2019
- [ ] Venue: TBD
- [x] Hosts: @yosriady
- [ ] engineers.sg https://engineers.sg/bookings

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over food and drinks_
7.20pm | Start of event - _opening segment by host_
7.30pm | Start of scheduled talks
8.40pm | Open announcem

[2019-11-07 13:14] yosriady opened #17 "February 2020 (Open For Speakers)"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/266431113/)
- [x] Date: Thursday, 20th February 2020
- [x] Venue: FoodPanda @ JustCo China Square 18 Cross Street, #02-101 Singapore 048423
- [x] Hosts: @yosriady
- [ ] engineers.sg https://engineers.sg/bookings

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over

[2019-11-07 13:15] yosriady opened #18 "March 2020 (Open For Speakers)"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/268131331/)
- [x] Date: Tuesday, 17th March 2020
- [x] Venue: Credit Suisse, Wealth Institute North Tower L2, One Raffles Link Singapore, 039393.
- [x] Hosts: @yosriady
- [ ] engineers.sg https://engineers.sg/bookings

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speaker

[2019-11-10 02:33] taavikybar commented on #15
I will be speaking 🙂

[2019-11-10 17:28] lzhuor commented on #15
@yosriady I will 👍

[2019-11-18 06:54] yosriady commented on #15
Great! Thanks everyone - see you this Thursday!

[2019-11-19 10:57] AlexLakatos commented on #15
@yosriady are you looking for a last-minute speaker by any chance?

[2019-11-22 05:12] PrasannaBrabourame commented on #15
Hi,
Can u share the slides URL?

[2019-11-22 06:02] yosriady commented on #15
@WataruKay @lzhuor @taavikybar Great job! Thank you for sharing your expertise with the community. Do you mind sharing a link to your slides on the [Meetup page](https://www.meetup.com/React-Singapore/events/263699433/)? The community would appreciate it very much. 🙏

[2019-11-23 04:17] lzhuor commented on #15
@yosriady Done.

[2019-11-25 05:11] TikiCat7 commented on #15
I don't seem to have a way to add them directly on the meetup page but this is the link to the slides: https://docs.google.com/presentation/d/14BJqSjrHL3Us8SpmZ0ZIkcFVXpxd7jv1bhdwmqFBAW4/edit?usp=sharing

[2019-12-06 04:05] #15 closed, assigned to nobody

[2019-12-06 04:40] #16 closed, assigned to yosriady

[2019-12-28 03:42] AudyOdi commented on #17
# Start your Product with Expo*

### Talk description

- Introduction about Expo and present the demo how easy is it like to get started with Expo.
- Plus and minus about using Expo.
- Migration process from Expo to regular RN project, what will we lose when we migrate from Expo and the technology choices that we chose in TenX to cover it.

### Presenter(s)

Github: @AudyOdi
Twitter: @audyodi_

##

[2019-12-28 03:56] yosriady commented on #17
@AudyOdi Sounds great! Looking forward to have you speak at the February meetup.

[2020-01-15 04:31] dmfilipenko commented on #18
# Functional Lenses

- What libraries can we use for functional lenses?
- What are the pros/cons?
- How to change deep nested data structures quickly?
- How can you quickly can start using lenses in your project?
- How to avoid such constructions?

[code]
#### Presenter(s)
Twitter: [@dmfilipenko](http://twitter.com/dmfilipenko)
Linkedin: [Dmytro Filipenko](https://www.linkedin.com/in/dmytro-filipe

[2020-01-15 05:02] yosriady commented on #18
@dmfilipenko Sounds great! Looking forward to have you speak in March. The date and venue for the March meetup is still in flux, but I'll let you know when it's confirmed. We're looking some time in mid-March, tentatively 19th March.

[2020-01-23 02:35] yosriady opened #19 "May 2020 (Open For Speakers)"
## ℹ️ Details
- [ ] [Meetup page]()
- [x] Date: Tuesday, 19th May 2020
- [x] Venue: Zendesk Singapore,  9 Straits View Marina One West Tower #10-08 Singapore 018937 · Singapore
- [x] Hosts: @yosriady
- [ ] engineers.sg https://engineers.sg/bookings

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Doors open - _mingle with guests and speakers over food and drinks_
7.20pm | Start of event -

[2020-01-23 02:36] yosriady opened #20 "July 2020 (Online Meetup)"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/269829277/)
- [x] Date: Wednesday, 15th July 2020
- [x] Venue: Zoom ([instructions](https://support.zoom.us/hc/en-us/articles/201362033-Getting-Started-on-Windows-and-Mac))) https://zoom.us/j/292895391

Attendees are required to register before joining this meeting.
Registration URL: https://zoom.us/meeting/register/v5

[2020-01-23 02:45] yosriady commented on #18
@dmfilipenko

The date and venue has been confirmed:

Date: 17 March 2020 7PM - 9PM
Venue: Credit Suisse, The Wealth Institute, 1 Raffles Link, Singapore 039393

[2020-01-23 03:43] dmfilipenko commented on #18
@yosriady great

[2020-02-05 01:48] yosriady commented on #17
Address updated to:

FoodPanda @ JustCo China Square
18 Cross Street, #02-101
Singapore 048423
Please take the escalator to reception.

[2020-02-10 09:36] yosriady commented on #17
@AudyOdi The event has been cancelled due to the coronavirus situation - we would still love to have you speak at future events!

[2020-02-10 09:36] #17 closed, assigned to nobody

[2020-02-14 08:00] yosriady commented on #18
@dmfilipenko Hi Dmytro, our host had to cancel this event due to the coronavirus situation. We've decided to postpone ReactJS SG meetups until the situation improves. Sorry about that!

[2020-02-14 08:00] #18 closed, assigned to nobody

[2020-03-26 14:52] nazmifeeroz commented on #20
## Using State Machines to build your React app

**Talk Description**
Managing state in React is one of the biggest pain while developing. Many bugs are caused when things get into unexpected state or race conditions. State machines help eliminate these bugs entirely while still providing a structured way to build components.

**Presenter**
- Github/Twitter: @nazmifeeroz

**Presenter's bio**
Softw

[2020-04-02 10:20] dmfilipenko opened #21 "Maybe we can organize online meetup?"
If yes, how I could help with this?

[2020-04-03 03:22] #19 closed, assigned to nobody

[2020-04-03 03:25] yosriady opened #22 "June 2020 (Online Meetup)"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/269829122/)
- [x] Date: Wednesday, 17th June 2020
- [x] Venue: Zoom ([instructions](https://support.zoom.us/hc/en-us/articles/201362033-Getting-Started-on-Windows-and-Mac)) https://zoom.us/j/838312115

Attendees are required to register before joining this meeting.
Registration URL: https://zoom.us/meeting/register/tZc

[2020-04-03 03:34] yosriady opened #23 "May 2020 (Online Meetup)"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/269829062/)
- [x] Date: Wednesday, 13th May 2020
- [x] Venue: Zoom ([instructions](https://support.zoom.us/hc/en-us/articles/201362033-Getting-Started-on-Windows-and-Mac)) https://zoom.us/j/258126199

For attendees, please register here so you can join the Zoom event: https://zoom.us/meeting/register/v5ElduuurzIjeH__Ud

[2020-04-03 03:38] yosriady commented on #21
Hi @dmfilipenko!

We're planning an online meetup for May and June (tentatively 13th May and 17th June 2020):
Like always, the events will be announced on Meetup.com along with a link to a **Zoom** group call.

Here's the May event: https://github.com/ReactJSSG/meetups/issues/23

I'd be happy to have you share about Functional Lenses on either of these events!

[2020-04-03 03:38] #21 closed, assigned to nobody

[2020-04-03 04:10] yosriady commented on #21
More info: https://www.meetup.com/React-Singapore/events/269829062/

[2020-04-03 04:18] yosriady commented on #20
Hi @nazmifeeroz!

We'd love to have you speak. There are also meetups planned in May and June, would you be available for that?

[2020-04-15 12:47] yosriady commented on #21
Hi @dmfilipenko! Would you be interested to speak in either May or June?

[2020-04-15 14:28] dmfilipenko commented on #21
@yosriady in May I can

[2020-04-16 01:15] yosriady commented on #21
@dmfilipenko Great! It's on 13th May. Please share your talk here: https://github.com/ReactJSSG/meetups/issues/23

[2020-04-17 03:49] dmfilipenko commented on #23
# Functional optics

- What libraries can we use for functional lenses?
- What are the pros/cons?
- How to change deep nested data structures quickly?
- How can you quickly can start using lenses in your project?
- How to avoid such constructions?

[code]
#### Presenter(s)
Twitter: [@dmfilipenko](http://twitter.com/dmfilipenko)
Linkedin: [Dmytro Filipenko](https://www.linkedin.com/in/dmytro-filipe

[2020-04-17 04:43] yosriady commented on #23
@dmfilipenko Great! Looking forward to see you online in May!

[2020-05-11 06:47] yosriady commented on #23
@dmfilipenko Can I confirm that you will be joining the Zoom call this Wednesday, 13th May 2020 07:00 PM? Link is https://zoom.us/j/258126199

Please join 10 minutes earlier so we can set up.

[2020-05-11 09:10] dmfilipenko commented on #23
@yosriady confirm

[2020-06-10 00:30] yosriady commented on #22
Cancelled due to a lack of speakers.

[2020-06-10 00:30] #22 closed, assigned to nobody

[2020-06-10 00:32] yosriady commented on #20
@nazmifeeroz Can I confirm that you will be speaking on Wednesday, 15th July 2020?

[2020-06-10 08:13] nazmifeeroz commented on #20
hi @yosriady ,
yeah! i confirm i'll be speaking in July.

[2020-06-10 08:37] roonyh commented on #20
## Many uses of [React Storybook](https://storybook.js.org/) when building a React component library

### Talk Description
React Storybook is a tool that can help developers, designers even users of your project. I'll be talking about its uses as a development environment for a React component library, as testing manual environment and as a show case of your components. Also included is how to use

[2020-06-10 08:46] yosriady commented on #20
@nazmifeeroz Great! See you in July.

@roonyh Looking forward to your talk in July!

[2020-06-10 08:48] #23 closed, assigned to yosriady

[2020-06-10 08:50] yosriady opened #24 "September 2020 (Online Meetup)"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/271201015/)
- [x] Date: Tuesday, 15 September 2020
- [x] Venue: Zoom ([instructions](https://support.zoom.us/hc/en-us/articles/201362033-Getting-Started-on-Windows-and-Mac))) https://zoom.us/j/94746710941

Attendees are required to register before joining this meeting.
Registration URL: https://zoom.us/meeting/register

[2020-06-10 09:06] yosriady opened #25 "August 2020 (Online Meetup)"
## ℹ️ Details
- [x] [Meetup page](https://www.meetup.com/React-Singapore/events/271200871/)
- [x] Date: Tuesday, 18th August 2020
- [x] Venue: Zoom ([instructions](https://support.zoom.us/hc/en-us/articles/201362033-Getting-Started-on-Windows-and-Mac))) https://zoom.us/j/92456830828

Attendees are required to register before joining this meeting.
Registration URL: https://zoom.us/meeting/register/

[2020-06-13 04:52] akshatamohanty commented on #25
## React-ing faster: How to optimize your components for performance?

### Talk description
React is fast by design. But what happens when it does get slow? How do you write components to extract every inch of performance? In this talk, we will walkthrough the process of diagnosing and optimizing a chat application, to enable it to handle hundreds of messages without lagging. We will learn how to

[2020-06-13 09:40] yosriady commented on #25
@akshatamohanty Great! Looking forward to have you speak in August.

[2020-06-14 11:04] idfunctor commented on #25
## Async concurrency on steroids with redux-saga

### Talk description
No real world app faces events in a preordained fashion, and as it grows and becomes more complex; more and more async side effects become intertwined.
How do we make apps that are built to face disaster and errors with grace? I'll try to summarize a few patterns on how taking an event driven/reactive approach to react-redux de

[2020-06-14 11:06] idfunctor commented on #25
## Concurrency management with redux-saga

### Talk description
No real world app faces events in a preordained fashion, and as it grows and becomes more complex; more and more async side effects become intertwined.
How do we make apps that are built to face disaster and errors with grace? I'll try to summarize a few patterns on how taking an event driven/reactive approach to react-redux developme

[2020-06-14 11:13] aviral-public commented on #25
## Concurrency management with redux-saga

### Talk description
No real world app faces events in a preordained fashion, and as it grows and becomes more complex; more and more async side effects become intertwined.
How do we make apps that are built to face disaster and errors with grace? I'll try to summarize a few patterns on taking an event driven approach to react-redux development; making hi

[2020-06-14 11:46] yosriady commented on #25
@idfunctor Looking forward to have you speak in August. :+1:

[2020-06-17 03:23] pyaesone17 commented on #25
Talk Description
React Storybook is a tool that can help developers, designers even users of your project. I'll be talking about its uses as a development environment for a React component library, as testing manual environment and as a show case of your components. Also included is how to use it when building a component library for your project.

Presenter
Github: @pyaesone17

Presenter's bio
A

[2020-06-17 03:26] pyaesone17 commented on #25
# The rise of the Microfrontend

Talk Description
Microfrontend is very popular lately on the frontend world. This talk will bring what is Microfrontend, How can we achieve and
What is the best practices that we should follow.

Presenter
Github: @pyaesone17

Presenter's bio
A fullstack software engineer at foodpanda.

Duration requested
25mins

Slides
in progress

[2020-06-17 03:43] yosriady commented on #25
@pyaesone17 I'm happy to add you in August but - you'll be the third and last speaker, would that be alright with you? Attendees' attention spans usually craters by the third talk.

Alternatively, we also have other meetups in September onwards.

[2020-06-28 05:07] yosriady commented on #25
@pyaesone17

[2020-06-29 04:13] pyaesone17 commented on #24
# The rise of the Microfrontend

Talk Description
Microfrontend is very popular lately on the frontend world. This talk will bring what is Microfrontend, How can we achieve and
What is the best practices that we should follow.

Presenter
Github: @pyaesone17

Presenter's bio
A fullstack software engineer at foodpanda.

Duration requested
25mins

Slides
https://docs.google.com/presentation/d/1XGs81Y

[2020-06-29 04:13] pyaesone17 commented on #25
@yosriady Hi, I moved it to #24

[2020-06-29 06:35] yosriady commented on #24
@pyaesone17 Looking forward to your talk in September! 👏

[2020-07-15 04:28] yosriady commented on #20
@nazmifeeroz @roonyh Looking forward to your talks! Can in confirm that you will be speaking later today? Please reply to this comment to confirm.

[2020-07-15 04:30] nazmifeeroz commented on #20
hi @yosriady .. yeah i confirm. what time will you open the zoom meeting to prepare ourselves?

[2020-07-15 06:06] yosriady commented on #20
@nazmifeeroz I'll start opening the Zoom meeting 15 minutes earlier.

[2020-07-15 10:24] roonyh commented on #20
@yosriady Confirmed!

[2020-07-15 10:40] yosriady commented on #20
@nazmifeeroz @roonyh Great, feel free to join the call anytime to get set up.

[2020-07-15 11:58] yosriady commented on #20
@nazmifeeroz @roonyh

Thank you for speaking at ReactJS Singapore! We'd be happy to have you speak at future meetups. 🙂

**Can you share a link to your slides on [the meetup page](https://www.meetup.com/React-Singapore/events/269829277/)?** You can leave a comment with the link to the slides. Thanks!

[2020-07-15 12:04] nazmifeeroz commented on #20
@yosriady
Done!
Thanks for organising the meetup!

Where can i find the recording after you've published it?

[2020-07-15 12:40] yosriady commented on #20
@nazmifeeroz Recordings are available here: https://github.com/ReactJSSG/meetups/tree/master/recordings/jul-2020

[2020-07-15 12:42] #20 closed, assigned to yosriady

[2020-08-10 03:45] yosriady commented on #25
Hi @akshatamohanty and @idfunctor, can I confirm that you will be speaking at the upcoming React online meetup on Tuesday, 18th August 2020? Please reply to this comment to confirm your attendance. 😃

[2020-08-10 04:39] akshatamohanty commented on #25
@yosriady yup, confirmed

[2020-08-10 21:13] aviral-public commented on #25
Yep, count me in!

On Mon, Aug 10, 2020 at 10:09 AM Akshata Mohanty <notifications@github.com>
wrote:

[2020-08-11 07:43] yosriady commented on #25
@akshatamohanty @idfunctor Great! See you next Tuesday!

[2020-08-18 02:03] yosriady commented on #25
@akshatamohanty @idfunctor Can you join the call about 10 minutes earlier at 6:50PM today to set up and test your screen sharing?  https://zoom.us/j/94746710941

[2020-08-18 10:43] yosriady commented on #25
Hi folks, this is the correct Zoom link for August: https://zoom.us/j/92456830828

Sorry, I accidentaly used the link for the September meetup.

[2020-08-18 11:26] yosriady commented on #25
You can share your slides link by commenting on this page: https://www.meetup.com/React-Singapore/events/271200871/

[2020-09-14 17:27] #25 closed, assigned to yosriady

[2020-09-14 17:28] yosriady commented on #24
@pyaesone17 Can I confirm that you will be speaking at the React meetup on Tuesday, 15 September 2020?

[2020-09-15 02:26] pyaesone17 commented on #24
@yosriady Hi I can confirm that I will be speaking.

[2020-09-15 09:19] yosriady commented on #24
@pyaesone17 Great, see you later.

[2020-09-17 07:51] #24 closed, assigned to yosriady

[2020-09-30 13:28] yosriady opened #26 "November 2020 (Online Meetup)"
## ℹ️ Details
- [ ] [Meetup page]()
- [x] Date: Thursday, 26th November 2020
- [ ] Venue: Zoom ([instructions](https://support.zoom.us/hc/en-us/articles/201362033-Getting-Started-on-Windows-and-Mac))) TODO

Attendees are required to register before joining this meeting.
Registration URL: TODO

## 📅 Itinerary

Time   | Agenda
------ | :-----
7.00pm | Start of event
7.10pm | Start of scheduled talks